body {
  font-family: "Circular";
}

/*------------------------side bar------------------------------*/
#sideBar {
  background-color: #000000;
  height: calc(100vh - 101px);
}

#scrollable {
  max-height: calc(100vh - 342px);
}
/*-----------------------main section---------------------------*/

/*----------------------- player bar----------------------------*/
/*da verificare e modificare*/
.progress {
  background-color: #dce0e4; /* Rimuove il colore di sfondo */
  /* Rimuove eventuali bordi */
  height: 4px; /* Imposta un'altezza personalizzata */
  /* Elimina il padding */
}

.progress-bar {
  background-color: #1cd760;
  height: 4px; /* Rimuove il colore della barra */
}

input[type="range"] {
  /* Stile del range (linea di scorrimento) */
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background-color: #ddd;
  border-radius: 5px;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Rimuove lo stile predefinito */
  height: 0; /* Rende il thumb invisibile */
  width: 0;
  background: transparent;
  border: none;
}
