body {
  font-family: "Circular";
}

/*------------------------side bar------------------------------*/
#sideBar {
  background-color: #000000;
  height: calc(100vh - 101px);
  color: #b2b2b2;
}

#scrollable {
  max-height: calc(100vh - 342px);
  color: #9f9f9f;
  font-weight: 400;
  font-size: 13px;
}

/*scrollbar styling*/
/* Stile base della scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Larghezza della scrollbar */
}

/* Colore del track della scrollbar */
::-webkit-scrollbar-track {
  background: black; /* Colore di sfondo */
  /* Angoli arrotondati */
}

/* Colore e stile della thumb */
::-webkit-scrollbar-thumb {
  background: #4d4d4d; /* Colore della thumb */
  border-radius: none; /* Angoli arrotondati */
}

/*-----------------------main section---------------------------*/

/*----------------------- player bar----------------------------*/
/*da verificare e modificare*/
.progress {
  background-color: #dce0e4; /* Rimuove il colore di sfondo */
  /* Rimuove eventuali bordi */
  height: 4px; /* Imposta un'altezza personalizzata */
  /* Elimina il padding */
}

.progress-bar {
  background-color: #1cd760;
  height: 4px; /* Rimuove il colore della barra */
}

input[type="range"] {
  /* Stile del range (linea di scorrimento) */
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background-color: #ddd;
  border-radius: 5px;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Rimuove lo stile predefinito */
  height: 0; /* Rende il thumb invisibile */
  width: 0;
  background: transparent;
  border: none;
}
